<div class="container">
    <h1>Employee List</h1>
    <div class="row">
        <div class="col px-2">
            {{#if employees.length}}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Address</th>
                        <th scope="col">password</th>
                        <th scope="col">Files</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each employees }}
                    <tr>
                        <td>-</td>
                        <td>{{this.name}}</td>
                        <td>{{this.email}} </td>
                        <td>{{this.address.country}},{{this.address.state}},{{this.address.city}} </td>
                        <td>{{this.password}} </td>
                        <td>
                          <div class="d-flex flex-row gap-2">
                            {{#each file}}
                            <a  href="{{this}}"><button class="btn btn-outline-primary">View</button></a>
                            <a href="{{this}}" download=""><button class="btn btn-outline-primary">Download</button></a>
                            {{/each}}
                          </div>
                        </td>
                        {{!-- <td>{{formatSalary this.emp_salary}}</td> --}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            {{/if}}
        </div>
    </div>
</div>